<div class="row">
<div id="nav" class="col-sm-12">
        <a class="nav_tag" href="/wedding">wedding cake</a> 
        <a class="nav_tag" href="/cupcake">cupcake</a>
        <a class="nav_tag" href="/color">theme</a>
        <a class="nav_tag" href="/">price</a>
        <a class="nav_tag" href="/">party</a>
        <a class="nav_tag" href="/contact">contact us</a>       
    </div>
</div>
<div class="row">
    <img class="img-fluid" src="images/{{homeBanner}}" alt="home banner">    
</div>
{{!-- <div id="mainContainer">
    <img class="col-sm-12" src="images/banner.jpg">    
<div id="discription">
    <p class="title">{{title}}</p>
    <p>{{content}}</p>
    <p>{{message}}</p>
</div>
</div> --}}


