<div id="mainContainer">
    <img class="col-sm-12" src="images/banner.jpg">    
<div id="discription">
    <p class="title">{{title}}</p>
    <p>{{content}}</p>
    <p>{{message}}</p>
</div>
</div>


