<div id="nav" class="col-sm-12">
        <a class="nav_tag" href="/user1">models</a> 
        <a class="nav_tag" href="/user2">gallery</a>
        <a class="nav_tag" href="/color">colors</a>
        <a class="nav_tag" href="/special">specifications</a>
        <a class="nav_tag" href="/warranty">warranty</a>
        <a class="nav_tag" href="/contact">contact us</a>       
    </div>
<img class="col-sm-12" src="images/{{homeBanner}}" alt="home banner">    

{{!-- <div id="mainContainer">
    <img class="col-sm-12" src="images/banner.jpg">    
<div id="discription">
    <p class="title">{{title}}</p>
    <p>{{content}}</p>
    <p>{{message}}</p>
</div>
</div> --}}


